.container {
    margin: 3rem auto;
    width: 45rem;
}

.container title {
    margin: 3rem auto;
    width: 45rem;
}
.container p {
    line-height: 1.3rem;
}

.container h2::before {
    content: "|";
    font-size: 1.8rem;
    color: rgb(255, 112, 94);
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .container {
        width: 30rem;
    }
}

@media (max-width: 576px) {
    .container {
        width: 19rem;
    }
}
