.error {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.error h1 {
    font-size: 5rem;
    margin: 1rem 0;
}

.error p {
    font-size: 1.5rem;
    margin: 1rem 0;
}
