.container {
    width: 10rem;
    align-self: center;
    justify-self: center;
    margin: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container input {
    width: 35px;
    height: 18px;
    font-size: 0.9rem;
    border-radius: 3px;
}

.btn {
    width: 25px;
    height: 25px;
    border-style: none;
    background-color: var(--color-button-normal);
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    transition: 0.2s;
}

.btn:hover {
    background-color: var(--color-primary-dark);
}

.btn svg {
    width: 14px;
    height: 14px;
    margin: auto;
}
