.signin-btn {
    cursor: pointer;
}

.signin {
    width: 100%;
    height: 100%;
}

.user-btn {
    position: relative;
    color: var(--color-grey-dark-3);
    font-size: 1rem;
    cursor: pointer;
}

.user-btn:hover {
    position: relative;
    color: black;
}

.drop-down {
    width: 14rem;
    position: absolute;
    margin-top: 0.5rem;
    right: -20px;
    background-color: white;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    padding: 0.25rem 0;
    box-shadow: var(--shadow-dark);
    z-index: 200;
}

.drop-down div {
    cursor: pointer;
    width: auto;
    padding: 0.7rem 0;
    padding-left: 1rem;
    font-size: 0.9rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    color: var(--color-grey-dark-4);
    fill: var(--color-grey-dark-4);
    transition: 0.2s;
}

.drop-down svg {
    width: 20px;
    height: 20px;
    padding-right: 0.8rem;
}

.drop-down div:hover {
    background-color: rgb(200, 200, 200);
    color: black;
    fill: black;
}
